@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cooper25.github.io/metropolis.css');
body {
    margin: 0px;
    padding: 0px;
    background: #FFF29B url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    user-select: none;
}
.body-contents {
    max-width: 28vw;
    position: absolute;
    transform: translate(10vw, -50%);
    top: 50%;
}
br {
    line-height: 20px;
}
nav li {
    display: inline;
}
nav a {
    color: #00000095;
    font: 500 15px "Inter", sans-serif;
    text-decoration: none;
    margin-right: 8px;
}
h1 {
    font: 50px "Metropolis Bld", sans-serif;
    margin: 0px;
    padding: 0px;
}
span, p {
    color: #00000095;
    font: 600 20px "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
}
p {
    margin-top: 30px;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
}
.bottom-socials {
    max-width: 72px;
    background: black;
    border-radius: 5px;
    bottom: 9vh;
    padding: 5px;
    padding-bottom: 1.5px;
    margin: 0px;
}
.bottom-socials img {
    transition: .1s;
    max-height: 16px;
    min-height: 16px;
    margin: 0px;
    padding: 3px;
    cursor: pointer;
}